<!-- Featured Work Slideshow with Captions --> 
{% load static  %}
<section id="projects" class="container h-1/2 w-full mx-auto">
  <div class="flex items-center justify-center h-full w-full"> 
	<!-- Loop through static images dynamically -->

	  <image src="">
	  <!-- Caption Text --> 
	  <div></div>
	  </image> 
	</div>
	<br>
	<!-- Dots --> 
	<div class="flex items-center justify-center ">
	  <span class=" h-12 w-12 rounded-full"></span>
	  <span class=" h-12 w-12 rounded-full"></span>
	  <span class=" h-12 w-12 rounded-full"></span>
	</div>
  </div>

</section>
