{% extends '../base.html' %}

<!-- TODO: implement smooth scroll functionality.  
  If a link is clicked smooth scroll to respective section -->

{% block content %}
  <header>  
  <!-- Navigation and brand logo --> 
  <nav class="nav_container" >
	{% include "./Brand.html"  %}
	<div class="nav_items">
	  <li><a href="#">Firm</a></li>
	  <li><a href="#">Philosophy</a></li>
	  <li><a href="#">Projects</a></li>
	  <li><a href="#">Contact</a></li> 
	</div>
  </nav>
  </header> 
{% endblock content %}
