{% load static tailwind_tags %}
{% load static  %}
<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
	<head>
        <title>Professional Archetecture & Design</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script type="text/javascript" src="{% static 'js/jquery-3.6.0.slim.js' %}"></script>
		{% tailwind_css %}
	</head>

	<body class="container bg-black overflow-y-scroll overflow-x-hidden  w-screen h-full">
	  <!-- Nav bar --> 
	  {% include 'partials/_nav.html' %}
	  <!-- Main Content --> 
	  {% include 'partials/_landing.html' %}
	  {% include 'partials/_firm.html' %}
	  {% include 'partials/_philosophy.html' %}
	  {% include 'partials/_recent_work.html'  %}
	  {% include 'partials/_featured_work.html'  %}

	  {% include 'partials/_contact.html'  %}

	</body>
</html>
