/*
 * First landing page hero.
 * text in oscilating_hero_text will oscilate/cycle between words. 
 * TODO Support Google Chrome in keyframes?
 */
 
.landing_hero_image {
     background-image: url("{% 'static /images/landing_hero_first.jpeg'  %}");
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
	 position: relative;
     height: 100%;
}
.landing_hero_text {
	text-color: white; 
	line-height: 50%;
}

/* TODO  Add more words, content*/ 
.oscilating_hero_text:after {
    -webkit-animation: cycle 4s infinite; /* Safari 4+ */
    -moz-animation: cycle 4s infinite; /* Fx 5+ */
    -o-animation: cycle 4s infinite; /* Opera 12+ */
    animation: cycle 4s infinite; /* IE 10+, Fx 29+ */
@keyframes cycle {
  0% {
    content: "Home";
  }
  33% {
    content: "Addition";
  }
  66% {
    content: "Mancave";
  }
  100% {
    content: "Nursery";
  }
}
